[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pytest = "*"
flask = "*"
tox = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-login = "*"
isort = "*"
flask-spell-check = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
