<html>

<head>
    <title>Flask Spell Check</title>
</head>

<body>
    <form action="{{ url_for('spell_check') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="inputtext">Input Text</label><br />
        <textarea id="inputtext" name="inputtext" required></textarea><br /><br />
        <button type='submit'>Spell Check!</button>
        {% if text %}
        <p>Input Text</p>
        <p id="textout">{{ text }}</p>
        {% endif %}
        {% if misspelled %}
        <p>Mispelled Words</p>
        <p id="misspelled">{{ misspelled }}</p>
        {% endif %}
    </form>
</body>

</html>